<div class="panel panel-default">
    <div class="panel-body">
        <div class="col-xs-12">
          <div class="col-xs-2">
              <img src="{{user.imagePath}}" height="80px" width="80px" alt="Image" />
          </div>
          <div class="col-xs-10">
              <p>First name: <strong>{{user.firstName}}</strong></p>
              <br />
              <p>Last Name: <strong>{{user.lastName}}</strong></p>
          </div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">
          <div class="col-xs-4">Department: <strong>{{user.dept}}</strong></div>
          <div class="col-xs-4">Date of Joining: <strong>{{user.doj}}</strong></div>
          <div class="col-xs-4">Reporting Manager: <strong>{{user.manager}}</strong></div>
        </div>
        <div class="col-xs-12">&nbsp;</div>
        <div class="col-xs-12">
          <div class="col-xs-4">Email ID: <strong>{{user.email}}</strong></div>
          <div class="col-xs-4">Phone Number: <strong>{{user.mobile}}</strong></div>
          <div class="col-xs-4">Location: <strong>{{user.location}}</strong></div>
        </div>
    </div>
</div>